/* container */
.container {
    padding: 0;
}

.container main {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* container */

main .item {
    width: 310px;
    display: flex;
    justify-content: space-around;
}

.line {
    width: 100%;
}

.projectTitle, .projectAdd button {
    width: 420px;
}

.projectTitle {
    margin-bottom: 10px;
}



