/* container */
.container {
    padding: 0;
}

.container main {
    padding: 30px;
    width: 100%;
    display: flex;
/*     justify-content : center; */

    flex-direction: column;
/*     주축은 열, 방향은 콘텐츠 방향과 동일 */
    align-items: center;
}
/* container */

/* 오늘의 날짜와 할 일 추가 */
.line {
    width: 100%;
}
main .item {
    width: 210px;
}
main .add {
    margin-top: 8px;
}

a, a:visited {
    text-decoration: none;
    color: black;
}
/* 오늘의 날짜와 할 일 추가 */


main .item-list {
    width: 100%;
    margin-top: 30px;
}

/* 등록된 할 일이 없을 경우 */
main .empty {
    text-align: center;
}
main .empty .text1 {
    color: #6c757d;
}
main .empty .text2 {
    margin-top: 10px;
}
/* 등록된 할 일이 없을 경우 */

/* 할 일 목록 필터 */
main .item-filter {
    width: 100%;
    margin-top: 30px;
}
main .item-filter {
    display: flex;
    padding-left: 5px;
}
main .item-filter .check {
    width: 70px;
}
main .item-filter .todoProject {
    width: 150px;
    text-align: right;
}
main .item-filter .todoTitle {
    padding-left: 50px;
}
/* 할 일 목록 필터 */

/* 할 일 목록 */
main .item-list .list-group a {
    color: black;
}
main .item-list .list-group-item {
    display: flex;
}
main .item-list .list-group-item .check {
    width: 70px;
}
main .item-list .list-group-item .todoInfo {
    display: flex;
}
main .item-list .list-group-item .todoProject .badge {
    width: 150px;
}
main .item-list .list-group-item .todoTitle {
    padding-left: 40px;
}
/* 할 일 목록 */

