#side_menu {
    height: calc(100vh - 77px);
    font-size: 25px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  .nav-item:hover, .list-group-item:hover {
    background-color: #0d6efd;
  }
  .list-group-item {
    background-color: transparent;
    border: none;
  }
  .list-group a, .list-group a:visited {
    text-decoration: none;
    color: white;
  }

  