<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web_2022-03-21</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<filter>
	<filter-name>filter1</filter-name>
	<filter-class>chapter07.Filter1</filter-class>
</filter>

<filter>
	<filter-name>filter2</filter-name>
	<filter-class>chapter07.Filter2</filter-class>
</filter>

<filter-mapping>
	<filter-name>filter2</filter-name>
	<url-pattern>/chapter07/ex01</url-pattern>
</filter-mapping>

<filter-mapping>
	<filter-name>filter1</filter-name>
	<url-pattern>/chapter07/*</url-pattern>
</filter-mapping>
  
  <context-param>
  	<param-name>shutDownTime</param-name>
  	<param-value>2022-12-31 06:00:00</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>chapter01.Ex02</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ch05_ex01</servlet-name>
  	<servlet-class>chapter05.Ex01</servlet-class>
  	
  	<init-param>
  		<param-name>value</param-name>	
  		<param-value>15</param-value>	
  	</init-param>
  	
  	<load-on-startup>1</load-on-startup>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>ch05_ex01</servlet-name>
 	<url-pattern>/ch05_ex01</url-pattern>
 </servlet-mapping>
 
  
</web-app>